# RF Random Forest
### Using: $\textit{sklearn}$ for classification (also regression compared)

## Imports

In [2]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score,mean_squared_error
import seaborn as sns

## Load data

In [10]:
ds = pd.read_csv('D:/data/csv/rfReg.csv')
ds.head()

            x           y
0   59.000000  152.553428
1   88.696970  158.420441
2   87.443939  154.189316
3  110.090909  161.136969
4  126.787879  158.819572

#### Preprocess & split (train/test)

In [21]:
x = ds.x.values.reshape(-1, 1)
y = ds.y.values.reshape(-1, 1)
train_x, test_x, train_y, test_y = train_test_split(x, y, test_size=0.30, random_state=42)
print('Train : ', train_x.shape, train_y.shape)
print('Test : ', test_x.shape, test_y.shape)

Train :  (70, 1) (70, 1)
Test :  (30, 1) (30, 1)

## Build model

In [25]:
train_X = np.ravel(train_X)
train_Y = np.ravel(train_y)
model = RandomForestRegressor()
model.fit(train_x, train_y)

<ipython-input-25-1eba97395d73>:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model.fit(train_x, train_y)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=None, verbose=0, warm_start=False)

In [30]:
pred = model.predict(test_X)

mae = np.mean(abs(test_y - pred))
print('MAE = ', round(mae, 2))

res

MAE =  6.95

                     0
172.601093  171.811944
167.766762  168.162747
172.539462  171.010670
164.789353  163.923948
164.633482  162.209623
161.402125  164.575541
159.165634  160.968390
169.741910  171.818232
157.738312  157.542862
155.810297  152.553428
159.510540  158.229406
161.892541  161.205678
168.423027  174.008075
163.057562  160.884578
175.776760  174.421428
159.674272  158.819572
171.063985  171.643791
171.852516  171.068652
156.171324  159.347561
162.506963  166.310617
167.051867  169.195894
174.889041  172.773813
161.746753  159.319225
164.583660  164.541431
171.002467  168.800670
157.428426  158.329970
163.948401  165.855721
173.567734  176.001331
157.774276  159.357847
171.512889  170.610166

## Credits & Links

https://heartbeat.fritz.ai/random-forest-regression-in-python-using-scikit-learn-9e9b147e2153